* {
    box-sizing: border-box;
}


.min-h100 {
    min-height: 100px;

}
.min-h200 {
    min-height: 100px;

}
.min-h300 {
    min-height: 100px;

}
.mrg-2{
    margin: 2px;
}

.bg-grey {
    background-color: #535757;
}
.bg-l_grey {
    background-color: #a4abab;
}